.main {
    display: flex;
    width: 100%;
    justify-content: center;
}
.playlist {
    height: 100%;
}

.parentFilter {
    margin-left: 20px;
    height: 100%;
}

.filter {
    height: 100%;
    padding: 10px;
    background-color: rgba(235,235,235);
}

.item {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

select {
    padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th {
    background-color: rgba(235,235,235)
}

tr, th {
    height: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
}

td {
    min-width: 100px;
}

.pagination {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 15px auto;
    list-style: none;
    outline: none;
    position: relative;
}

span {
      padding: 5px 10px;
      outline: none;
      cursor: pointer;
}

span.active {
    background-color: rgba(235,235,235);
    border-radius: 50%;
    border: 1px solid grey;
}

.activePerPage {
    background-color: rgba(235,235,235);
    border: 1px solid black;
    margin-left: 5px 10px;
}

.perPage {
    border: 1px solid black;
}


.pageNumber {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.totalPage {
    flex: 0 1 auto;
    margin-left: auto;
}
